php_api/writable/Schemas/Exam/questions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element use="required" name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="single_choise"/>
                    <xs:enumeration value="multi_choise"/>
                    <xs:enumeration value="true_or_false"/>
                    <xs:enumeration value="fill_the_blanks"/>
                    <xs:enumeration value="match_it"/>
                    <xs:enumeration value="descriptive"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="q"/>
              <xs:element name="options" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="option" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="answer" minOccurs="0"/>
              <xs:element name="answers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="answer" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="q" minOccurs="0"/>
                          <xs:element type="xs:string" name="ans" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>